{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#" style="font-family: 'Mandali', sans-serif; color: green; font-weight: bold;">Data Leaked Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-5" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px;">
        <h1 style="color: #22b44b;">Data Leaked Store</h1>

        <h5 style="color: #333;">Name:</h5>
        <p>{{name}}</p>

        <h5 style="color: #333;">Class:</h5>
        <p>{{class}}</p>
        
        <div class="row">
            {% for item in items %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="background-color: #fff; border: 1px solid #ccc; border-radius: 10px;">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">Amount: {{item.amount}}</p>
                            <p class="card-text">{{item.description}}</p>
                            <a href="sub-amount/{{item.pk}}" class="btn btn-danger">Amount -1</a>
                            <a href="add-amount/{{item.pk}}" class="btn btn-success">Amount +1</a>
                            <a href="delete-item/{{item.pk}}" class="btn btn-danger">Delete</a>
                            <a href="{% url 'main:edit_item' item.pk %}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
<!-- 
        <table id="item_table"></table>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name"></input>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="col-form-label">Price:</label>
                                <input type="number" class="form-control" id="price" name="price"></input>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
                    </div>
                </div>
            </div>
        </div>, -->

       
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

        <a href="{% url 'main:create_item' %}" class="btn btn-primary">
            Add New Item
        </a>

        <h5 class="mt-5" style="color: #333;">Sesi terakhir login: {{ last_login }}</h5>

        <a href="{% url 'main:logout' %}" class="btn btn-warning">
            Logout
        </a>
    </div>

    <script>
        async function getItem() {
            return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
        }

        async function refreshItems() {
            document.getElementById("item_table").innerHTML = ""
            const items = await getItem()
            let htmlString = `<tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Date Added</th>
            </tr>`
            items.forEach((item) => {
                htmlString += `\n<tr>
                <td>${item.fields.name}</td>
                <td>${item.fields.price}</td>
                <td>${item.fields.description}</td>
                <td>${item.fields.date_added}</td>
            </tr>` 
            })
            
            document.getElementById("item_table").innerHTML = htmlString
        }

        refreshItems()

        function addItem() {
            fetch("{% url 'main:add_item_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshItems)

            document.getElementById("form").reset()
            return false
        
        }

        document.getElementById("button_add").onclick = addItem
    </script>
{% endblock content %}
